* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    width: 250px;
    height: 80px;
    background-color: burlywood;
    font-weight: bold;
    font-size: 24px;
    color: blanchedalmond;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;

    @mixin button-effect() {
      content: "";
      position: absolute;

      background-color: transparent;
      width: 80px;
      height: 40px;
      transition: all 0.5s;
    }

    &:before {
      @include button-effect();
      top: -8px;
      left: -8px;
      width: 80px;
      height: 40px;
      border-top: 4px solid burlywood;
      border-left: 4px solid burlywood;
    }
    &:after {
      @include button-effect();
      bottom: -8px;
      right: -8px;
      width: 80px;
      height: 40px;
      border-bottom: 4px solid burlywood;
      border-right: 4px solid burlywood;
    }

    &:hover {
      &:before {
        width: 101%;
        height: 101%;
      }
      &:after {
        width: 101%;
        height: 101%;
      }
    }
  }
}
