* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans-serif";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  h2 {
    position: relative;
    display: flex;
    gap: 4px;
    color: #fff;
    font-size: 8em;
    cursor: pointer;

    span {
      position: relative;
      filter: blur(5px);
      padding: 0 5px;

      transition: 0.5s;

      &:hover {
        filter: blur(0);
        transition: 0.5s;

        i::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 8px;
          // background: #fff;
          box-shadow: 0 53px #fff, 36px 53px #fff, 36px 0 #fff;
          i::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 2px;
            // background: #fff;
            box-shadow: 0 60px #fff, 30px 60px #fff, 30px 0 #fff;
          }
        }

        i {
          position: absolute;
          inset: 0;
          background: transparent;
        }
      }
    }
  }
}
