* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-top: 50px solid #ea4335;
    border-bottom: 50px solid #34a853;
    border-right: 50px solid #4285f4;
    border-left: 50px solid #fbb605;

    &::before {
      content: "";
      position: absolute;
      top: -115px;
      left: 63px;
      border-top: 100px solid transparent;
      border-right: 100px solid #fff;
      border-left: 100px solid transparent;
      border-bottom: 100px solid transparent;
      transform: rotate(90deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -50px;
      width: 100px;
      height: 40px;
      background: #4285f4;
      transform: translate(-12px,9.5px);
    }
  }
}
