* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;

  button {
    background: transparent;
    padding: 30px 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    position: relative;
    border-width: 4px;
    overflow: hidden;
    color: #fff;
    border-color: #fff;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: #002fff;
      height: 100%;
      width: 100%;
      z-index: -1;

      transition: transform 1s;
      transform-origin: bottom right;
      transform: rotate(90deg);
    }

    &:hover:before {
      transform: rotate(0deg);
      
    }
  }
}
