* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2d2d2d;

  .container {
    position: relative;
    display: flex;

    span {
      width: 50px;
      height: 300px;
      margin: 0 20px;
      background: #2d2d2d;
      animation: slide 1.6s linear infinite;
      @keyframes slide {
        0% {
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
          opacity: 0;
          transform: translate(-50px) scale(1);
        }
        50% {
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          opacity: 1;
          transform: translate(0px) scale(1);
        }
        100% {
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
          opacity: 0;
          transform: translate(50px) scale(1);
        }
      }
    }
  }
}
