* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;

  button {
    border: none;
    // overflow: hidden;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 250px;
    height: 80px;
    background: transparent;
    color: white;
    transition: all 0.5s;
    font-size: 24px;
    font-weight: 600;

    @mixin borders() {
      position: absolute;
      content: "";
      transition: all 0.5s;
    }

    &:before {
      @include borders();
      top: 0;
      left: 0;
      width: 0%;
      height: 5%;
      background-color: white;
    }
    &:after {
      @include borders();
      bottom: 0;
      right: 0;
      width: 0%;
      height: 5%;
      background-color: white;
    }

    &:hover {
      &:before {
        width: 100%;
      }
      &:after {
        width: 100%;
      }

      span:before {
        height: 100%;
      }
      span:after {
        height: 100%;
      }
    }

    span {
      &:before {
        @include borders();
        width: 4px;
        height: 0%;
        background-color: white;
        right: 0;
        top: 0;
      }
      &:after {
        @include borders();
        width: 4px;
        height: 0%;
        background-color: white;
        left: 0;
        bottom: 0;
      }
    }
  }
}
