*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @keyframes #{$animation-name} {
      @content;
    }
  }

@mixin animation($str) {
    -webkit-animation: #{$str};
    animation: #{$str};
  }



body{
    background-color: rgba(36,36,36);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    h1{
        position: relative;
        font-size: 6em;
        color: #222;

        &::before{
            content: attr(data-text);
            position: absolute;
            color:white;
            width: 100px;
            overflow: hidden;
            white-space:nowrap;
            border-right: 4px solid white;
            @include animation('slide 5s linear infinite');


            @include keyframes (slide){


                0%,10%,100%{
                width: 0;
                text-shadow: 2px 2px 15px  white;
                    
                }

                70%,90%{
                    width: 100%;
                }
            }

        }
    }



}



